<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.CHJB.Journiary.backgroundSync</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>journiary</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wir benötigen Ihren Standort, um Ihre Position auf der Karte anzuzeigen und Reiserouten aufzuzeichnen.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Wir benötigen Ihren Standort, um Ihre Position auf der Karte anzuzeigen und Reiserouten aufzuzeichnen, auch wenn die App im Hintergrund läuft.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Wir benötigen Zugriff auf Ihre Fotobibliothek, um Bilder für Ihre Reiseerinnerungen auszuwählen.</string>
	<key>NSCameraUsageDescription</key>
	<string>Wir benötigen Zugriff auf Ihre Kamera, um Fotos für Ihre Reiseerinnerungen aufzunehmen.</string>
</dict>
</plist>
